@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  font-family: "Poppins", sans-serif;
}
button{
    background-color: green;
    border: green;
    color: white;
    border-radius: 3px;
}
button#submit.btn.btn-primary{
    background-color:green;
    border: green;
}
.text-primary{
    color: green !important;
}

