@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button{

}

nav{
  background: #87E76D;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


.dark-theme .navbar {
  background-color: #333;
}

.dark-theme .navbar a {
  color: white;
}

.dark-theme .navbar a:hover {
  background-color: gainsboro;
  color: black;
}

.logo{
  width: 50px;
  height: 50px;

}

.user-pic{
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 30px;
}

nav ul{
  width: 100%;
  text-align: right;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10 px 20px;
  padding-left: 30px;
  padding-right: 30px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
  max-height: 400px;
}

.sub-menu{
  background: #87E76D;
  padding: 20px;
  margin: 10px;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info h3{
  font-weight: 500;
}

.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}


.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p{
  width: 100%;

}

.sub-menu-link span{
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span{
  transform: translateX(5px);
}

.sub-menu-link:hover p{
  font-weight: 600;
}


.team-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.team-box {
  width: 45%; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.team-member img {
  width: 100px;
  height: 100px; 
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h4 {
  margin-bottom: 5px;
}

.team-member p {
  text-align: center;
}
.card-body{
  width: 300px;
  height: 100px; 
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  justify-content:center;
  word-wrap: break-word;

}


