/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Base styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #87E76D;

  background-size: cover;
  
}

form {
  background: #D3D3D3;
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 4px;
  padding: 55px 30px;
}

form .title h2 {
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  justify-content: space-between;
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form input[type="text"],
form textarea {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  background: transparent;
  font-size: 17px;
}

form textarea {
  height: 200px;
}

form .action {
  margin-bottom: 32px;
}

form .action input {
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px;
  margin-right: 10px;
}

form .action input[type="submit"] {
  background: white;
  color: black;
}

/* Hover and Focus styles */
form input:focus,
form textarea:focus,
form .action input:hover {
  background: rgba(255, 255, 255, 0.075);
}

/* Media Query for smaller screens */
@media (max-width: 480px) {
  form .half {
      flex-direction: column;
  }
  form .half .item {
      width: 100%;
  }
  form .action {
      display: flex;
      flex-direction: column;
  }
  form .action input {
      margin-bottom: 10px;
      width: 100%;
  }
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #87E76D;
  overflow: auto;
}

/* Style the navigation links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

/* Add hover effect only to the Home link */
.navbar a[href="homePage.html"]:hover {
  background-color: lightgreen;
  color: black;
}

/* Remove hover effect from other links */
.navbar a:not([href="homePage.html"]):hover {
  background-color: transparent;
  color: white;
}

.navbar a[href="homePage.html"] {
  float: right;
}

.navbar a[href="submittedTickets.html"] {
  float: right;
}

